.home-container {
  padding: 10px; 
  width: 100%;
  display: flex;
  flex-direction: column;  
  align-items: center;  
}

.home-container h1 {
  color: #ffffff;
  display: flex;
  justify-content: left;
  font-size: 24px;
}

.home-content a {
  text-decoration: none;
}



@media (min-width: 576px) {
  .home-container h1 {
    font-size: 36px;
  }
}

@media (min-width: 776px) {
  .home-container {
    width: 95%;
    margin: 0 auto;
  }


  .home-container h1 {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    width: 1000px;
    margin: 0 auto;
  }


  .home-container h1 {
    font-size: 48px;
  }
}
